<div class="container">
<h2>订单列表 </h2>
<hr>
<div class="row col-md-4 col-md-offset-4">
<table class="table table-striped orderlist">
  <thead>
    <tr>
      <th class="name"></th>
      <th> 金额 </th>
      <th class="time">生成时间</th>


    </tr>
  </thead>
  <tbody>

    <% @orders.each do |order| %>
    <tr>
      <td class="no"> <span class="badge">
        <%= link_to(order.id, order_path(order.token)) %> </span>
      </td>
      <td> <%= order.total %></td>
      <td> <%= order.created_at.to_s(:short) %> </td>
    </tr>
    <% end %>

  </tbody>
</table>
</div>
</div>
