<!DOCTYPE html>
<html lang="en">
<head>
  <title>一杯咖啡</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>





<div class="container-fluid">
  <h1 id="hometitle"> 一杯咖啡 </h1>
  <h1 id="homecaption">One Coffee</h1>
</div>

<!-- see intro https://www.w3schools.com/bootstrap/bootstrap_carousel.asp -->


<div class="container-fluid">
  <div class="row" style="margin:5px -30px 0 -30px">
    <img src="/images/full.jpeg" id="full">
  </div>
</div>

<div class="container-fluid">
<div class="row icon">

  <div class="col-xs-8 col-xs-offset-1 model1" >
      <h1 id="s1"> 约明星 <img src="/images/pic4.jpg" class="col-xs-6 img-responsive pull-left">
        <br><span id="s2"> 一杯咖啡，链接一个新世界</span></h1>

  </div>


  <div class="col-xs-10  model2 pull-right" >

        <img src="/images/pic3.jpg" class="col-xs-8 img-responsive pull-right" >
        <div class="col-3">
      <h1 id="s3" > <br><br><br><br>交朋友<br><span id="s4"> 一杯咖啡，开启一段新征程</span>
      </h1>

    </div>
  </div>



</div> <!--row-->
</div>

<!--<div class="container">
  <div class="row">
   <div class="col-xs-3 col-xs-offset-1 image1" style="background-color:pink">
     <p>      <img src="/images/model1.png" > </p>
  </div>

    <div class="col-xs-4 col-xs-offset-5 ">

      <h1> YOYOYO </h1>
      <h1> What can I do for you? </h1>
      <p> what's up </p>
    </div>
  </div>

 <div id="image2" class="row">
    <div class="col-md-2 col-md-offset-6" style="background-color:purple">
      <img src="/images/02.jpg" width="520px" height="460px">
    </div>
  </div>

</div> -->

<div class="container-fluid">
<div class="row bottom">

  <div class="col-xs-4 col-xs-offset-4" >
      <a href="/products"><h1 id="bottom" ≈> 预约你的咖啡时刻</h1></a>

  </div>




</div> <!--row-->
</div>

</body>
</html>
