/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import url(http://fonts.googleapis.com/css?family=Roboto);

 /****** LOGIN MODAL ******/
 .loginmodal-container {
   padding: 30px;
   max-width: 350px;
   width: 100% !important;
   background-color: #F7F7F7;
   margin: 0 auto;
   border-radius: 2px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   overflow: hidden;
   font-family: roboto;
 }

 .loginmodal-container h1 {
   text-align: center;
   font-size: 1.8em;
   font-family: roboto;
 }

 .loginmodal-container input[type=submit] {
   width: 100%;
   display: block;
   margin-bottom: 10px;
   position: relative;
 }

 .loginmodal-container input[type=text], input[type=password] {
   height: 44px;
   font-size: 16px;
   width: 100%;
   margin-bottom: 10px;
   -webkit-appearance: none;
   background: #fff;
   border: 1px solid #d9d9d9;
   border-top: 1px solid #c0c0c0;
   /* border-radius: 2px; */
   padding: 0 8px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
 }

 .loginmodal-container input[type=text]:hover, input[type=password]:hover {
   border: 1px solid #b9b9b9;
   border-top: 1px solid #a0a0a0;
   -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
   -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
   box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
 }

 .loginmodal {
   text-align: center;
   font-size: 14px;
   font-family: 'Arial', sans-serif;
   font-weight: 700;
   height: 36px;
   padding: 0 8px;
 /* border-radius: 3px; */
 /* -webkit-user-select: none;
   user-select: none; */
 }

 .loginmodal-submit {
   /* border: 1px solid #3079ed; */
   border: 0px;
   color: #fff;
   text-shadow: 0 1px rgba(0,0,0,0.1);
   background-color: #4d90fe;
   padding: 17px 0px;
   font-family: roboto;
   font-size: 14px;
   /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
 }

 .loginmodal-submit:hover {
   /* border: 1px solid #2f5bb7; */
   border: 0px;
   text-shadow: 0 1px rgba(0,0,0,0.3);
   background-color: #357ae8;
   /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
 }

 .loginmodal-container a {
   text-decoration: none;
   color: #666;
   font-weight: 400;
   text-align: center;
   display: inline-block;
   opacity: 0.6;
   transition: opacity ease 0.5s;
 }

 .login-help{
   font-size: 12px;
 }


.navbar-default {
    width:100%;
     background-color: #004D40;//背景颜色
     font-size: 20px;
     border: none;//把dropdown的留底去掉
     border-color: #004D40;//边框色
     margin-bottom: 0;//底部 margin 不撑开距离
     color: #004D40;
     padding-top: 10px;

 }

  .navbar-default .navbar-brand {
     color: #FAFAFA;//字体颜色
     font-size: 20px;
     margin-right: 30px;
  }


 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
    color: #FAFAFA;//鼠标放置在链接上的文字颜色
   background-color: transparent;//鼠标放置在链接上的背景颜色，这里设为透明
  }


 .collapse .navbar-nav{
   float: left;

 }

 .collapse .navbar-right {
   float: right; /*你去右边*/
 }



 .navbar-default .navbar-nav > li > a{
   color: #FAFAFA;

 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
   color: #FAFAFA;
   background-color: transparent;
 }

// .navbar-default .navbar-nav > .active > a,
// .navbar-default .navbar-nav > .active > a:hover,
// .navbar-default .navbar-nav > .active > a:focus {
//   color: #004D40;
//   background-color: #FAFAFA;
//   font-size: 1.25em;
//   margin-right: 1em;
 //}

 //.navbar-default {
//     background-color: #004D40;//背景颜色
//     border-color: #004D40;//边框色
//     margin-bottom: 0;//底部 margin 不撑开距离
// }

// .navbar-default .dropdown-menu {
//     background-color: #3344ff;
//     color:#ffffff;
//}

 .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

 @media (min-width: 768px) {
     .navbar {
         border-radius: 0;//圆角为0
     }
 }

 //.container-fluid .jumbotron{
//  padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
//  margin: -100 -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
//  border-radius: 0;//圆角为0
//}

.btn-info{
  border-radius: 24px;
  background: none;
	padding: 12px 22px;
  border: 2px solid #ead7d1;
	color: #ead7d1;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
	color: #350307;
	border-color: #350307;
  background: none;
}

.btn-info:active, .btn-info.active {// click color
	border-color: #350307 !important;
	color: #350307 !important;
	box-shadow: none;
  background: none !important;
}

.btn-danger{
  border-radius: 24px;
  background: #004D40;
	padding: 12px 22px;
  border: 2px solid #004D40;
	color: white;
}


.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
	color: black;
	border-color: #ffdc52;
  background: #ffdc52
}

.btn-danger:active, .btn-danger.active {
	border-color: #ffdc52 !important;
	color: white !important;
	box-shadow: none;
  background: #ffdc52 !important;
}


td {
  font-size:18px
}

td a {
  color:black;
}

td a:hover {
  color:#9b2449;
}
