// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 .item-remove > i {
  line-height: 33px;
  color: black;
}

.item-remove:hover > i {
  color: #d21717 !important;

}

.amount {
  font-size: 28px;
  padding-top: 12px;
  color:#004D40;
}

 .item-count input {
  width: 55px;
  background-color: #fff;
  border-radius: 5px;
  color: #ead7d1;
  border-color: #ead7d1;
  shadow: 0 0 0 0;
}

.item-count input:hover {
 width: 55px;
 background-color: #fff;
 border-radius: 5px;
 color: #6e3e29;
 border-color: #ead7d1;
 shadow: 0 0 0 0;
}

 .item-count select {
  height: 30px;
  background-color: #fff;
  color: #6e3e29;
  border-radius: 0;
  border-color: #ead7d1;
}
