// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Control buttons  */

img {
    max-width: 100%;
}

img.bottom {
    vertical-align: top;;
    width: 70%;
}

.model1
{
  margin-right: -40%

}

.model2
{
  margin-left: -20%;
  margin-top: 35%;
}

#caption2
{
  margin-bottom: 50em;
}

.icon
{
  margin-top:100px;
}

.bottom
{
  text-align: center;
  margin-top: 4em;
  font-size: 300%;

}

.bottom .btn-danger {
    color: #ead7d1;//字体颜色
    background-color: #004D40;//背景颜色
    border-color: #004D40;//边框颜色
    padding-right: 50px;
    padding-left: 50px;
    //font-weight: bold;
}

.bottom .btn-danger:hover {
    background-color: #610909;//鼠标放置在btn上的背景颜色
    border-color: #610909;//鼠标放置在btn上的边框颜色
    color:#f4f9fb;
}





#hometitle
{
  text-align: center;
  font-size: 5em;
  color:#350307;

}

#homecaption
{
  text-align: center;
  color: #c10000;
  font-family: cursive;
  font-size: 3em;
  margin-top: -2%;
  margin-left: 13%;
}

#full
{
  align-items: center;
}

.caption2
{
  margin-top: 33%;
}
.nav-pills
{
  align: center;
  background-color: white;
  font-size: 1.5em;
  width:80%;

}


#s1
{
  font-family: "LiHei Pro Medium", "SimHei";
  font-size: 5em;
}

#s2
{
  font-family: "STfangsong", "FangSong";
  font-size: 30px;
}

#s3
{
  font-family: "LiHei Pro Medium", "SimHei";
  font-size: 5em;
  vertical-align: 10%;
  text-align: right;
}

#s4
{
  font-family: "STfangsong", "FangSong";
  font-size: 30px;
  text-align: right;
}
